header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    max-width: 100%;
}

.description {
    text-align: left;
}

.bio {
    text-align: center;
    font-weight: bold;
}